@font-face {
  font-family: 'iconfont';  /* project id 2440698 */
  src: url('//at.alicdn.com/t/font_2440698_rzn0qq9e9fi.eot');
  src: url('//at.alicdn.com/t/font_2440698_rzn0qq9e9fi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2440698_rzn0qq9e9fi.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2440698_rzn0qq9e9fi.woff') format('woff'),
  url('//at.alicdn.com/t/font_2440698_rzn0qq9e9fi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2440698_rzn0qq9e9fi.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}